PORT=3000

FIGMA_TOKEN=
FIGMA_FILE=
IMAGE_PATH=public/img
PASSCODE=my-super-secret-random-passcode

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_CONSUMER_ACCESS_TOKEN=
TWITTER_CONSUMER_ACCESS_TOKEN_SECRET=
