/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --dark: #111111;
  --gray: #EEEEEE;
  --yellow: #FFFFE0;
  --white: #FFFFFF;
  --black: #000000;
  --light: rgba(17,17,17,0.4);

  --active: #6D8BF4;
  --hover: #EA74AC;
  --text: #FFFFFF;
  --background: #F8F1D4;
}

sub, sup {
  font-size: 70%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-size: 1.4em;
  line-height: 145%;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--text);
  background: var(--background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  line-height: 145%;
}
a {
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
  transition: color 200ms ease-in-out;
}
a:hover {
  cursor: pointer;
  color: var(--black);
}
button {
  margin: 0;
  border: none;
  padding: 0;
  text-align: left;
  font-size: 1em;
  outline: none;
  background: transparent;
  text-decoration: none;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 5%);
  -webkit-appearance: none;
}
button:hover {
  cursor: pointer;
}
.is-flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-hidden {
  opacity: 0;
}
.Header__link {
  display: flex;
  margin-left: 12px;
  justify-content: center;
  align-items: center;
}
.Header {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 2em;
  width: 100%;
  font-size: 0.9em;
  z-index: 100;
}
.Content {
  position: relative;
}
.Canvas {
  width: 100%;
  height: 100%;
}
.Image {
  position: absolute;
  user-select: none;
}
.Image img {
  box-shadow: 0px 10px 20px rgb(0 0 0 / 15%);
  border-radius: 4px;
  max-height: 700px;
  cursor: pointer;
}
.Control__pages {
  display: flex;
  position: relative;
  margin: 0 0.4em;
}
.Controls {
  display: flex;
  position: fixed;
  bottom: 2em;
  display: flex;
  z-index: 1000;
}
.Avatar {
  position: relative;
  width: 50px;
  height: 50px;
  background: var(--gray);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--white);
  transition: all 150ms ease-in-out;
  font-size: 0.8em;
  margin: 0 0.4em;
}
.Avatar.is-selected {
  transform: scale(1.4);
}
.Avatar:hover {
  transform: scale(1.4);
}
.Avatar__letter {
  color: var(--white);
  font-weight: bold;
  user-select: none;
}
.Control__pages:after {
  content: '';
  width: 100%;
  position: absolute;
  height: 10px;
  background: rgba(255, 255, 255, 0.7);
  z-index: -1;
  top: 50%;
  margin-top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.Bubble {
  position: absolute;
  background: var(--white);
  padding: 0.6em;
  bottom: 3.2em;
  border-radius: 4px;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 5%);
  min-width: 140px;
  max-width: 300px;
  user-select: none;
}
.Bubble:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  bottom: -5px;
  left: 50%;
  margin-left: -10px;
  z-index: 1000;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
  border-radius: 2px;
}
.Bubble > div:last-child {
  margin-bottom: 0;
}
.Bubble__username {
  margin: 0 0 .4em;
  font-size: 0.6em;
  opacity: .5;
}
.Bubble__title {
  font-weight: bold;
  margin: 0 0 .4em;
  font-size: 0.7em;
}
.Bubble__description {
  font-size: 0.7em;
  margin: 0 0 .4em;
  line-height: 1.3;
}
.Control__arrow {
  position: relative;
  top: 5px;
  width: 40px;
  height: 40px;
  background: var(--white);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: bold;
  color: var(--black);
  box-shadow: 0px 5px 5px rgb(0 0 0 / 5%);
  opacity: 0;
  user-select: none;
  display: flex;
  transition: all 150ms ease-in-out;
  cursor: default;
  visibility: hidden;
}
.Control__arrow.is-visible {
  display: flex;
  visibility: visible;
  opacity: 1;
}
.Control__arrow.is-visible:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.Notifications {
  position: fixed;
  bottom: 2em;
  right: 3em;
  user-select: none;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 100000000;
}
.Notification.is-visible.is-hidden {
  opacity: 0;
  transform:translate(0, -20px);
  transition: all 500ms ease-in-out;
}

.Notification.is-visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1, 1);

  padding: 0.4em 1em;
  margin: 0 0 0.2em;
  transition: all 200ms ease-in-out;
}

.Notification strong {
  font-weight: bold;
}

.Notification {
  position: relative;
  display: inline-block;
  transform: scale(1, 0);
  transform-origin: right bottom;
  border-radius: 20px;
  color: #000;
  font-size: 0.8em;
  padding: 0;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 5%);
  background: #fff;

  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
